.arr-value {
  color: white;
  border-bottom: 1px dotted #ececec;
  padding-bottom: 1rem;
}

.sec {
  margin: 4rem;
}

.single {
  background-color: #fff;
  min-height: 60px;
  font-size: 14px;
  padding: 10px;
}

.left {
  float: left;
  color: black;
  font-size: 20px;
}
.right {
  float: right;
  font-size: 20px;
}
.hed {
  display: flex;
  flex-direction: column;
}
.title{
  margin: 0;
}
.sub-title {
  color: white;
  font-size: 16px;
  float: left;
}
