.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.section {
  margin: 1rem;
}

.row {
  border-bottom: 1px dotted #ececec;
  margin-top: 1rem;
  cursor: pointer;
}
